.App {
  text-align: center;
}

.drawer-separator {
  height: 1px;
  background-color: #E0E0E0;
  margin: 8px 0;
}

.mdl-navigation span.mdl-navigation__link.mdl-navigation__link {
  color: #01579B;
}


