.App {
  text-align: center;
}

.mdl-layout__drawer {
  width: 400px;
  left: -250px;
}

.mdl-layout__drawer.is-visible {
  left: 0;
}

.drawer-separator {
  height: 1px;
  background-color: #E0E0E0;
  margin: 8px 0;
}

.mdl-navigation span.mdl-navigation__link.mdl-navigation__link {
  color: #01579B;
}


